* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  background: #f8f5f3;
}
.titulo-interessante {
    padding: 5% 10%;
  text-align: center;
}
.titulo{
    margin: 0;
    font-size: clamp(6rem, 6vw, 4.2rem);
    font-weight: 700;
    letter-spacing: 0.6%;
    line-height: 1.2;
}

.subtitulo {
    margin-top: 0.8%;
    font-size: clamp(1.4rem, 2.5vw, 1.8rem);
    font-weight: 700%;
    line-height: 1.5;
    color: #383737;
}

.cards-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-bottom: 200px;
}
.card {
  width: 390px;
  height: auto;
  border-radius: 16px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  transition: 0.3s;
  margin-left: 1%;
  display:flex;
  gap: 50px;
  
}

.card:hover {
  transform: translateY(-6px);
}

/* IMAGEM */
.card-body img {
  width: 350px;       /* largura padrão */
  height: 350px;      /* altura padrão */
  object-fit: cover;  /* corta a imagem sem distorcer */
  align-items: center;
  border-radius: 5px;
  
}

/* CONTEÚDO */
.card-body {
padding: 2px;
display: flex;
  flex-direction: column;
  align-items: center;
}

.card-body h3 {
  margin-bottom: 8px;
  font-size: 30px;
  color: #222;
}

.card-body span {
  color: #ff7a00;
  font-size: 20px;
}

/* LINHA */
.card-body hr {
  margin: 15px 0;
  border: none;
  height: 1px;
  background: #eee;
}

.equipe1{
background: linear-gradient(to bottom, rgb(247, 215, 166), rgba(0, 0, 255, 0));
}

/* ÍCONES */
.icons {
  display: flex;
  gap: 10px;
}

.icon {
  width: 40px;
  height: 40px;
  background: #f2f2f2;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  transition: 0.3s;
}
.icon img{
  width: 30px;
  height: auto;
}
.icon:hover {
  background: #ff7a00;
  color: #fff;
}
