footer {
  padding: 2rem;
  background: linear-gradient(180deg, #0c0a09, #1c1917);
  border-top: 1px solid rgba(255, 0, 255, 0.15);
  font-family: "Poppins", sans-serif;
}

.footer-flex {
  display: flex;
  gap: 1rem;
}

.footer-flex h1 {
  color: #f2f2f2;
  text-align: center;
}

.footer-flex span {
  background-color: #F97316;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.inicial1 {
 background-color: #FB923C; 
  border-radius: 0.5rem;
  height: 50px;
}

.text-footer {
  margin: 1rem 0;
 color: #F9FAFB;
  font-size: 1.1rem;
}

.mae {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

.links-rapidos h2 {
  color: #f2f2f2;
  margin-bottom: 1rem;
  font-weight: 400;
  font-family: "Syne", sans-serif;
}

.links-rapidos a {
  text-decoration: none;
color: #F9FAFB;
  font-size: 1.1rem;
  display: block;
}

.links-rapidos a:hover {
  transform: translateX(5px);
   color: #F97316;
  animation: moverParaDireita 0.8s ease forwards;
}

@keyframes moverParaDireita {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(8px);
  }
}
.redes img {
  width: 50px;
  transition: 0.3s ease;
}

.redes img:hover {
  transform: scale(1.2) translateY(-3px);
}
.direitos {
  color: white;
  margin: 1rem 0;
font-size: 1.2rem;
  text-align: center;
}
